.sign-in {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  min-height: 654px;
  min-width: 1440px;
  width: 100%;
}

.sign-in .group {
  height: 566px;
  margin-left: 14px;
  margin-top: 100px;
  position: relative;
  width: 618px;
}

.sign-in .text-wrapper {
  color: #000000;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 44px;
  font-weight: 800;
  left: calc(50% - 300px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 600px;
}

/* Input fields styling */
.sign-in .input-field {
  background-color: #d9d9d9;
  border: none;
  border-radius: 7px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  position: absolute;
  width: 604px;
  box-sizing: border-box;
  color: #000;
  left: calc(50% - 309px);
}

/* Specific positions for each input field */
.sign-in input[type="email"] {
  top: 127px;
}

.sign-in .password-field {
  top: 213px;
  left: calc(50% - 309px);
}

.sign-in .confirm-field {
  top: 300px; /* This specifically moves Confirm Password */
  left: calc(50% - 309px);
}

/* Link styling */
.sign-in .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 395px;
  width: 549px;
  text-decoration: none; /* remove underline if needed */
}

/* Go button styling */
.sign-in .text-wrapper-7 {
  background-color: #000000;
  color: #ffd400;
  border: none;
  border-radius: 7px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  width: 228px;
  height: 64px;
  top: 451px;
  left: calc(50% - 131px);
  display: flex;
  align-items: center;
  justify-content: center;
}