.absolute-image {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 28px;
	height: 28px;
	object-fit: fill;
}
.box {
	flex: 1;
	align-self: stretch;
}
.button {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: none;
	border-radius: 8px;
	border: 1px solid #000000;
	padding: 12px 91px;
	text-align: left;
}
.button2 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #000000;
	border-radius: 8px;
	border: none;
	padding: 12px 74px;
	text-align: left;
}
.button3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: none;
	border-radius: 8px;
	border: 1px solid #000000;
	padding: 12px 15px;
	text-align: left;
}
.button4 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #000000;
	border-radius: 8px;
	border: none;
	padding: 12px 31px;
	text-align: left;
}
.button5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #000000;
	border-radius: 8px;
	border: none;
	padding: 12px 102px;
	text-align: left;
}
.button6 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #000000;
	border-radius: 8px;
	border: none;
	padding: 12px 57px;
	margin-right: 280px;
	text-align: left;
}
.button-row-view {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background: none;
	border-radius: 6px;
	border: 1px solid #0000001A;
	padding: 8px;
	text-align: left;
}
.column {
	align-self: stretch;
	background: #FFFFFF;
}
.column2 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 15px;
	padding-right: 11px;
	margin-right: 20px;
	position: relative;
}
.column3 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 170px;
	gap: 24px;
}
.column4 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}
.column5 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 280px;
	gap: 24px;
}
.column6 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.column7 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 20px;
	gap: 20px;
}
.column8 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 247px;
	gap: 24px;
}
.column9 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 20px;
	padding-bottom: 20px;
	gap: 40px;
}
.column10 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}
.column11 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}
.contain {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
}
.image {
	width: 28px;
	height: 28px;
	object-fit: fill;
}
.image2 {
	border-radius: 6px;
	width: 20px;
	height: 20px;
	object-fit: fill;
}
.image3 {
	width: 100px;
	height: 100px;
	object-fit: fill;
}
.image4 {
	width: 520px;
	height: 1px;
	object-fit: fill;
}
.image5 {
	border-radius: 6px;
	width: 100px;
	height: 100px;
	object-fit: fill;
}
.input {
	color: #000000;
	font-size: 14px;
	background: #FFFFFF;
	border-radius: 6px;
	border: 1px solid #0000001A;
	padding: 8px 12px;
}
.row-view {
	align-self: stretch;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	padding: 18px 20px;
	box-shadow: 0px 0px 6px #0000001C;
}
.row-view2 {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background: #FFFFFF;
}
.row-view3 {
	display: flex;
	align-items: center;
	gap: 12px;
}
.row-view4 {
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
	gap: 40px;
}
.row-view5 {
	display: flex;
	align-items: center;
}
.row-view6 {
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
	gap: 60px;
}
.row-view7 {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	gap: 16px;
}
.row-view8 {
	display: flex;
	align-items: center;
	gap: 16px;
}
.row-view9 {
	display: flex;
	align-items: flex-start;
	border-radius: 6px;
	border: 1px solid #0000001A;
	padding: 16px;
	gap: 16px;
}
.row-view10 {
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: 1px solid #0000001A;
	padding: 16px;
	gap: 16px;
}
.row-view11 {
	display: flex;
	align-items: center;
	padding: 41px 1px;
}
.text {
	color: #000000;
	font-size: 28px;
}
.text2 {
	color: #000000;
	font-size: 16px;
	margin-right: 43px;
}
.text3 {
	color: #000000;
	font-size: 16px;
	margin-right: 42px;
}
.text4 {
	color: #000000;
	font-size: 14px;
	margin-right: 82px;
}
.text5 {
	color: #000000;
	font-size: 40px;
	font-weight: bold;
}
.text6 {
	color: #000000;
	font-size: 16px;
}
.text7 {
	color: #FFFFFF;
	font-size: 16px;
}
.text8 {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	margin-right: 660px;
}
.text9 {
	color: #000000;
	font-size: 12px;
}
.text10 {
	color: #000000;
	font-size: 16px;
	margin-right: 518px;
}
.text11 {
	color: #000000;
	font-size: 37px;
}
.text12 {
	color: #000000;
	font-size: 20px;
}
.text13 {
	color: #000000;
	font-size: 20px;
	margin-bottom: 8px;
	margin-right: 221px;
}
.text14 {
	color: #000000;
	font-size: 16px;
	margin-bottom: 8px;
	margin-right: 60px;
	width: 312px;
}
.text15 {
	color: #000000;
	font-size: 20px;
	margin-bottom: 8px;
	margin-right: 145px;
}
.text16 {
	color: #000000;
	font-size: 16px;
	margin-bottom: 8px;
	margin-right: 112px;
}
.text17 {
	color: #000000;
	font-size: 14px;
	margin-right: 410px;
}
.text18 {
	color: #000000;
	font-size: 14px;
	margin-right: 429px;
}
.text19 {
	color: #000000;
	font-size: 20px;
	margin-right: 63px;
}
.text20 {
	color: #000000;
	font-size: 20px;
	margin-right: 62px;
}
.view {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 4px;
	margin-right: 6px;
}
.view2 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 4px;
	margin-right: 662px;
}
.view3 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #0000000D;
	border-radius: 30px;
	padding-bottom: 1px;
	padding-right: 23px;
}
.view4 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1px;
	padding-right: 202px;
}
.view5 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1px;
	padding-right: 127px;
}
.view6 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 330px;
}
.view7 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 305px;
}
.view8 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1px;
	padding-right: 108px;
}
.view9 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}