.absolute-image {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 28px;
	height: 28px;
	object-fit: fill;
}
.absolute-text {
	position: absolute;
	bottom: 0px;
	left: 155px;
	color: #000000;
	font-size: 32px;
	text-align: center;
	width: 789px;
}
.box {
	flex: 1;
	align-self: stretch;
}
.box2 {
	width: 20px;
	height: 4px;
	background: #FFFFFF;
	border-radius: 100px;
}
.box3 {
	width: 4px;
	height: 4px;
	background: #0000004D;
	border-radius: 100px;
}
.button {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #000000;
	border-radius: 8px;
	border: none;
	padding: 12px 103px;
	text-align: left;
}
.column {
	align-self: stretch;
	background: #FFFFFF;
}
.column2 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 15px;
	padding-right: 11px;
	margin-right: 20px;
	position: relative;
}
.column3 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 68px;
	gap: 24px;
}
.column4 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 267px;
	gap: 22px;
}
.column5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}
.column6 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 204px;
	gap: 24px;
}
.column7 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 20px;
	padding-bottom: 20px;
	gap: 40px;
}
.column8 {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.contain {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
}
.image {
	width: 28px;
	height: 28px;
	object-fit: fill;
}
.image2 {
	width: 487px;
	height: 374px;
	object-fit: fill;
}
.image3 {
	border-radius: 6px;
	width: 182px;
	height: 163px;
	object-fit: fill;
}
.image4 {
	border-radius: 6px;
	width: 143px;
	height: 107px;
	margin-left: 118px;
	object-fit: fill;
}
.image5 {
	border-radius: 6px;
	width: 131px;
	height: 192px;
	margin-top: 42px;
	object-fit: fill;
}
.image6 {
	border-radius: 6px;
	width: 100px;
	height: 100px;
	object-fit: fill;
}
.row-view {
	align-self: stretch;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	padding: 18px 20px;
	box-shadow: 0px 0px 6px #0000001C;
}
.row-view2 {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	gap: 43px;
}
.row-view3 {
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
	gap: 60px;
}
.row-view4 {
	align-self: stretch;
	display: flex;
	align-items: flex-start;
	background: #D9D9D9;
	border-radius: 6px;
	margin: 64px 170px;
}
.row-view5 {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	margin-top: 280px;
	gap: 4px;
}
.row-view6 {
	display: flex;
	align-items: flex-start;
	border-radius: 6px;
	border: 1px solid #0000001A;
	padding: 16px;
	gap: 16px;
}
.text {
	color: #000000;
	font-size: 28px;
}
.text2 {
	color: #000000;
	font-size: 16px;
}
.text3 {
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	width: 485px;
}
.text4 {
	color: #FFFFFF;
	font-size: 16px;
}
.text5 {
	color: #000000;
	font-size: 40px;
	font-weight: bold;
}
.text6 {
	color: #000000;
	font-size: 20px;
	margin-bottom: 8px;
	margin-right: 253px;
}
.text7 {
	color: #000000;
	font-size: 14px;
	margin-bottom: 8px;
	margin-right: 317px;
}
.text8 {
	color: #000000;
	font-size: 16px;
	margin-bottom: 8px;
	margin-right: 101px;
}
.text9 {
	color: #000000;
	font-size: 12px;
}
.text10 {
	color: #000000;
	font-size: 20px;
	margin-bottom: 8px;
	margin-right: 250px;
}
.text11 {
	color: #000000;
	font-size: 14px;
	margin-bottom: 8px;
	margin-right: 315px;
}
.text12 {
	color: #000000;
	font-size: 20px;
}
.view {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 317px;
}
.view2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 283px;
}
.view3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D8D8D880;
	border-radius: 2px;
	border: 1px solid #0000001A;
	padding: 2px 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 332px;
}
.view4 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.view5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 40px 1px;
}

