.login {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  min-height: 654px;
  min-width: 1440px;
  width: 100%;
}

.login .group {
  height: 545px;
  margin-left: 14px;
  margin-top: 100px;
  position: relative;
  width: 618px;
}

.login .text-wrapper {
  color: #000000;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 44px;
  font-weight: 800;
  left: calc(50% - 260px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 515px;
}

/* Input fields styled like rectangles */
.login input.input-field {
  background-color: #d9d9d9;
  border: none;
  border-radius: 7px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  position: absolute;
  width: 604px;
  box-sizing: border-box;
  color: #000;
}

.login input[type="email"] {
  top: 127px;
  left: calc(50% - 309px);
}

.login input[type="password"] {
  top: 217px;
  left: calc(50% - 309px);
}

/* Go button styled like previous rectangle-2 */
.login button.text-wrapper-6 {
  background-color: #000000;
  color: #ffd400;
  border: none;
  border-radius: 7px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  width: 228px;
  height: 64px;
  top: 451px;
  left: calc(50% - 131px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Paragraph and link styling */
.login .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 319px;
  width: 549px;
}

.login .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 369px;
  width: 549px;
  text-decoration: none; /* remove underline if needed */
}

.login .text-wrapper-5 {
  display: none; /* old sign-in div not needed */
}
